#about-me{
    padding: 5%;
    text-align: justify;
}

#message_contact{
    resize: none;
}

#cv_btn{
    border-radius: 10px;
    border:0;
    background-color: #FF4C60;
}

#cv{
    color: white;
    font-size: small;
    padding: 1%;
    width: 140px;
}
